.testimonials
    border-top: 1px solid $epsilon
    padding: 40px 0
    margin: 40px 0 0
    font-size: 1.6rem
    color: $gama
    font-weight: 500
    
    text-align: center
    position: relative
    > ul
        text-align: left
        font-size: 1.4rem


    &:before
        display: block
        content: " "
        width: 7px
        height: 7px
        border: $epsilon 1px solid
        position: absolute
        top: -5px
        left: 50%
        margin-left: -5px
        background: $omega
        box-shadow: $omega 0 0 0 5px
        border-radius: 3px
